<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arkit</string>
		<string>front-facing-camera</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>SplatFrame needs camera access to track your head movement and create the 3D window effect.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SplatFrame needs photo library access to let you place your photos and videos on the cube faces.</string>
</dict>
</plist>
